<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhao.demo.mapper.UserMapper">

  <resultMap id="UserResultMap" type="com.zhao.demo.entity.UserBean">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="password" property="password" />
    <result column="status" property="status" />
  </resultMap>
  
  <sql id="columns">
    id, name, password, status
  </sql>
  
  <select id="getUserById" parameterType="java.lang.Long" resultMap="UserResultMap">
    select
    <include refid="columns" />
    from user
    where id = #{id}
  </select>
  
  <select id="allUsers" resultMap="UserResultMap">
     select
     <include refid="columns" />
     from user
  </select>
  
  <select id="listByCondition" parameterType="com.zhao.demo.entity.UserBean" resultMap="UserResultMap">
    select
    <include refid="columns" />
    from user
    <where>
      <if test="id != null"> and id = #{id}</if>
      <if test="name != null and name != ''"> and name like concat('%', #{name}, '%') </if>
      <if test="password != null and password != ''"> and password = #{password} </if>
      <if test="status != null"> and status = #{status}</if>
    </where>
    order by id desc
  </select>
  
  <select id="getById" parameterType="java.lang.Long" resultMap="UserResultMap">
    select
    <include refid="columns" />
    from user
    where id = #{id}
  </select>
  
  <select id="getUserIdByName" parameterType="java.lang.String" resultType="java.lang.Long">
    select id from user
    where name = #{name}
  </select>
  
  <select id="listIdsByCondition" parameterType="com.zhao.demo.entity.UserBean" resultType="java.lang.Long">
    select id  from user
    <where>
      <if test="id != null"> and id = #{id}</if>
      <if test="name != null and name != ''"> and name like concat('%', #{name}, '%') </if>
      <if test="password != null and password != ''"> and password = #{password} </if>
      <if test="status != null"> and status = #{status}</if>
    </where>
    order by id desc
  </select>

  <insert id="addUser" parameterType="com.zhao.demo.entity.UserBean" useGeneratedKeys="true" keyProperty="id">
    insert into user(name, password, status) 
    values(#{name}, #{password}, 1)
  </insert>
  
  <update id="updateUser" parameterType="com.zhao.demo.entity.UserBean">
    update user 
    <set>
      <if test="name != null and name != ''"> name = #{name}, </if>
      <if test="password != null and password != ''"> password = #{password}, </if>
      status = 1
    </set>
    where id = #{id}
  </update>
  
  <update id="deleteUserById" parameterType="java.lang.Long">
    update user set status = 0 where id = #{id}
  </update>
</mapper>